body {
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 0;
}
h1 {
    color: #0077b6;
}
button {
    background-color: #00b4d8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0096c7;
}
p {
    text-align: left;
}
h2 {
    text-align: left;
}
p {
    line-height: 1.0;
}
h1 {
    text-align: left;
}